<div id="side-bar" (click)='menuButton($event)'>
    <ul>
        <li><button class="icon ion-md-person sideBtn" value="profile"></button></li>
        <li><button class="icon ion-logo-youtube sideBtn" value="youtube"></button></li>
        <li><button class="icon ion-logo-reddit sideBtn" value="reddit"></button></li>
        <li><button class="icon ion-md-filing sideBtn" value="stackoverflow"></button></li>
        <li><button class="icon ion-md-create sideBtn" value="code"></button></li>
        <li><button class="icon ion-md-bookmark sideBtn" value="favorites"></button></li>
    </ul>
</div>


<!-- <div id="menu" (click)='menuToggle($event)'></div> -->