<div id="side-bar" (click)='menuButton($event)' [@openClose]="activeRoute != 'login' ? 'open' : 'closed'">
    <ul>
        <li><button class="icon ion-md-person sideBtn" value="profile"><span class="{{ globals.user && active }} title">{{globals.user && 'Profile' || 'Sign In'}}</span></button></li>
        <li><button class="icon ion-logo-youtube sideBtn" value="youtube"><span class="title">YouTube</span></button></li>
        <li><button class="icon ion-logo-reddit sideBtn" value="reddit"><span class="title">Reddit</span></button></li>
        <li><button class="icon ion-md-filing sideBtn" value="stackoverflow"><span class="title">Stack Overflow</span></button></li>
        <li><button class="icon ion-md-create sideBtn" value="code"><span class="title">Code Editor</span></button></li>
        <!-- <li><button class="icon ion-md-bookmark sideBtn" value="favorites"><span class="title">Saved</span></button></li> -->
    </ul>
</div>


<!-- <div id="menu" (click)='menuToggle($event)'></div> -->