@import "../../variables.scss";

form {
    padding: 6px 10px;
    color:white;
    background: rgba(0,0,0,0.8);
    box-shadow: 0 0 17px 5px white;
}

.btn-link {
    margin-bottom: 0;
    padding: 0;
}

button[type=submit] {
    float: right;
}

@media all and (min-width: #{map-get($grid-breakpoints,sm)}) {
    
}
