<div class="container">
  <div class="row justify-content-center modal-dialog-centered">
    <div class="col-md-8">
    <!-- <img src="/assets/images/logo_transparent.png" width="45%"> -->
    <form>
      <div class="form-row">
        <div class="form-group col-12">
          <label for="inputEmail">Email</label>
          <input type="email" class="form-control" id="inputEmail" placeholder="Email" required>
        </div>
        <div class="form-group col-12">
          <label for="inputPassword">Password</label>
          <input type="password" class="form-control" id="inputPassword" placeholder="Password" required>
        </div>
        <!-- <ng-container *ngIf="mode != 'login'"> -->
        <div class="form-group col-12" [@slideInOut]="mode">
            <label for="inputPasswordConfirm">Confirm Password</label>
            <input type="password" class="form-control" id="inputPasswordConfirm" placeholder="Confirm Password" [required]='mode == "signup" ? true : null'>
        </div>
        <!-- </ng-container> -->
      </div>
      <div class="form-group">
          <button id="switch" (click)="modeSwitch()" class="btn btn-link" type="button">{{ mode == 'login' && 'Click here to Sign Up!' || 'Already have an account?' }}</button>
          <button type="submit" class="btn btn-primary">{{ mode == 'login' && 'Sign In' || 'Sign Up' }}</button>
      </div>
    </form>
  </div>
  </div>
</div>