@import "../../variables.scss";

form {
    padding: 6px 10px;
    color:white;
    background: rgba(0,0,0,0.8);
    box-shadow: 0 0 17px 5px white;
}

.input-group {
    margin-top:0px;
    margin-bottom:0px;
    border-bottom: 1px solid white;
}

.input-group-addon {
    background:transparent;
    border-radius: 0px;
    border:0px;
    font-size: 18px;
    color:gray;
}

.icon{
    font-size: 30px;
}

.return {
    margin-top: -0.3rem;
    font-size: 1rem;
}

.ion-md-home {
    font-size: 1.3rem;
}

#error {
    color: red;
}

.form-control, .form-control:focus {
    background:transparent;
    border-radius: 0px;
    border:0px;
    padding:10px;
    color:white;
    font-size:21px;
    outline: none;
    box-shadow: none;
}

.btn-link {
    margin-bottom: 0;
    padding: 0;
}

button[type=submit] {
    float: right;
}

@media all and (min-width: #{map-get($grid-breakpoints,sm)}) {
    
}
