<div class="container">
    <div class="row">
        <div class="col-sm-10 offset-sm-1">
                <div class="jumbotron holder">
                    <img src="./assets/images/placeholder.png" alt="Profile Picture" class="img-thumbnail">
                    <h2 class="" style="width:75%;">{{ name }}</h2>
                    <p class="lead">{{ name }} is too cool for a blurb or just hasn't had time to create one yet..</p>
                    <hr class="my-4">
                    <h4>Bookmarked Content: (0)</h4>
                </div>
        </div>
    </div>
</div>