.mysearch {
    padding: 10px;
}

.tubeCard {
    margin: 10px;
    background:#f5a148;
    padding:5px;
    height:550px;
}

/* Video Css */

.video-area {
margin:20px;
}
.vidbtn {
    margin:10px;
}

.editorArea {
    display:hidden;
}

/* Reddit CSS */

.redditCard {
    margin:10px;
}

.card-header {
    background-color:#f5a148;
}

.card-footer {
    background-color:#f5a148;
}
